<div class="simple-header">
  <div class="header-content">
    <h1 class="site-name"><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
    <nav class="social-icons-nav">
      <a class="icon-link" title="GitHub" aria-label="GitHub" href="{{ site.author.github }}" target="_blank">
        {% include svg/github.svg %}
      </a>
      <a class="icon-link" title="Twitter" aria-label="Twitter" href="{{ site.author.twitter }}" target="_blank">
        {% include svg/twitter.svg %}
      </a>
      <a class="icon-link" title="LinkedIn" aria-label="LinkedIn" href="{{ site.author.linkedin }}" target="_blank">
        {% include svg/linkedin.svg %}
      </a>
    </nav>
  </div>
</div>


